/*layout*/

section{
    height: 80vh;
    overflow:hidden;
}

body{
    background-color: aquamarine;
    text-align: center;
}
footer{
    background-color: red;
    text-align: center;
    height: 20vh;
    overflow:hidden;
}
.container{
    padding: 2em;
}