/*layout*/

section{
    height: 80vh;
    overflow:hidden;
    text-align: center;
}

footer{
    text-align: center;
    height: 20vh;
    overflow:hidden;
    width: 100%;
 
}
.container{
    padding: 2em;
}

/* TYPOGRAPHY */

html,
body{
    font-family: 'Open Sans', sans-serif;
    font-size: cal(11px + 2vw)
}

h1{
    font-weight: 1500;
    font-size: 3.5rem;
    color: #201B19;  
}
p {
    text-align: center;
    line-height: 2;
    font-size: 1.5rem;
    color: #302E2D;
}
h3{
    font-size:1.5rem;
    color:orange;
}


  footer a {
    font-weight: 700;
    font-size: 1.5em;
    padding: 1vw 2vw;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #3A3434;
  }

  footer a:hover{
      color: #4682B4;
  }

  section a {
    font-weight: 700;
    color: red;
  }

  section a:hover {
    font-weight: 700;
    color: blue;
  }
  /* degradar fondo */

  section{
background: linear-gradient(0deg, cyan, white 5%);
  }

  footer{
    background: linear-gradient(0deg, #AFEEEE, cyan 70%);
      }
    
  body{
    margin: 0;
    padding: 0;
  }